<section class="phx-hero">
  <h1>Identicons as a Service</h1>
  <img src="<%= Routes.page_path(@conn, :image, @random_text, 5) %>" alt="A 5x5 identicon from '<%= @random_text %>'" title="<%= @random_text %>" />
  <figcaption>A 5x5 identicon from '<%= @random_text %>'</figcaption>
</section>
